#gameBoard {

}

.row {
	display: inline-block;
}

.dropButton {
	display: inline-block;
	background-color: firebrick;

}

.space {
	display: inline;
	background-color: blanchedalmond;
}

.E-space {
	background-color: lightgoldenrodyellow;
}

.R-space {
	background-color: red;
}

.B-space {
	background-color: black;
}