#gameBoard {
	min-width: 70%;

}

.row {
	display: block;
}

.dropButton {
	display: inline-block;
	min-width: 70px;
	color: firebrick;

}

.E-space {
	min-height: 70px;
	min-width: 70px;
	background-color: lightgoldenrodyellow;
}

.R-space {
	min-height: 70px;
	min-width: 70px;
	background-color: red;
}

.B-space {
	min-height: 70px;
	min-width: 70px;
	background-color: black;
}